<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech News | See the Latest</title>
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {{!-- Google Fonts --}}
    {{!-- --}}
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <script src="/assets/javascript/app.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Tech News Scraper</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">TorrentFreak.com<span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/articles/torrentfreak">Display Articles</a><br>
                            <a class="dropdown-item" href="/scrape/torrentfreak">Scrape Articles</a>
                        </div>
                    </li>
                    {{!-- <li><a href="/scrape/torrentfreak">Scrape</a></li>
                    <li><a href="/articles/torrentfreak">Display</a></li> --}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <p class="tagline">A place to collate and comment on all your favorite tech news articles</p>
                    {{!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> --}}
                    {{!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> --}}
                </ul>
            </div>
        </div>
    </nav>
    {{{ body }}}
</body>

</html>