<div id="wrapper">
    <h1>Mongo Scraper</h1>
    <h2><i>Click on the <button type="button" class="btn btn-dark">Scrape</button> button to scrape some articles</i></h2>
    {{!-- <div id="articles"></div>
    <div id="notes"></div> --}}
</div>