<div id="wrapper">
    <h1>Mongo Scraper</h1>
    <h2><i>Click <a href="/scrape/torrentfreak">here</a> to scrape some articles</i></h2>
    <h2><i>Click <a href="/articles/torrentfreak">here</a> to display the existing articles</i></h2>
</div>