<div id="wrapper">
    <h1>The Latest on TorrentFreak.com</h1>
    {{#each articles}}
    <img src="{{this.image}}"><br>
    <a href="{{this.link}}" class="article-link" target="_blank">{{this.title}}</a>
    <p>{{this.summary}}</p>
    {{/each}}
</div>