body {
    /* Source: https://bluefx.net/after-effects-templates/3-free-animated-backgrounds-for-news/ */
    background-image: url("../images/background.jpg");
    background-size: 100%;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    color: white !important;
}

p {
    color: white !important;
}

.article-link {
    color: white;
}

.article-link:hover {
    color: #9d9d9d;
}

/* Override the Bootstrap colors if desired
.navbar,
.navbar-inverse,
.navbar-brand,
.navbar-nav>li>a {
    background: #;
    color: # !important;
    border: none;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:active {
    background: #;
    color: # !important;
}
*/

.tagline {
    color: #9d9d9d !important; 
    font-style: italic;
    font-size: 14px;
}
textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}