body {
    /* Source: https://bluefx.net/after-effects-templates/3-free-animated-backgrounds-for-news/ */
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

h1, h2, h4, h5 {
    text-align: center;
    color: white !important;
}

p {
    color: white !important;
}

.article-link {
    color: white;
}

.article-link:hover {
    color: #9d9d9d;
}

.published-date {
    float: right;
}

.dropdown-menu {
    border: 0;
    padding: 0;
    line-height: 0;
}

.dropdown-item {
    background-image: none;
    background-color: #222222;
    color: #9d9d9d;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 15px;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background-image: none;
    background-color: #080808;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 15px;
}

.article-image {
    width: 200px;
    border-radius: 0.5rem;
    float: left;
    margin-right: 20px;
}

.glyphicon {
    font-size: 25px;
    color: #222222;
}

.glyphicon:hover {
    font-size: 25px;
    color: #444444;
}

.save-button {
    border-style: none;
    background: none;
}

.save-button:hover,
.save-button:focus,
.save-button:active {
    border-style: none;
    background: none;
}

.view-notes {
    border-style: none;
    background: none;
}

.view-notes:hover,
.view-notes:focus,
.view-notes:active {
    border-style: none;
    background: none;
}

/* Override the Bootstrap colors if desired
.navbar,
.navbar-inverse,
.navbar-brand,
.navbar-nav>li>a {
    background: #;
    color: # !important;
    border: none;
    border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:active {
    background: #;
    color: # !important;
}
*/

.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    /* clear: both; */
}

.panel-primary {
    border-color: #444444;
}

.panel {
    margin-bottom: 21px;
    background-color: #9d9d9d;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    border-color: #444444;
}

.panel-body {
    padding: 15px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
}

.panel>.panel-heading {
    color: #ffffff;
    background-image: none;
    background-color: #222222;
    border-color: #444444;
}

.tagline {
    color: #9d9d9d !important; 
    font-style: italic;
    font-size: 14px;
}

.note-form {
    width: 75%;
    margin: 0;
    padding-top: 50px;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}